<style>
  @media (max-width: 768px) {
    .f-info {
      flex-direction: column;
      height: auto;
      padding: 20px;
      gap: 10px;
    }
  }
</style>

<footer class="footer">
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; StayInn By Curls</div>
    <div class="f-info-links">
      <a href="">Shreya Chaturvedi</a>
    </div>
  </div>
</footer>
